

   .card-image img{
       width:120px ;
      
      
       padding-top:20px ;
       padding-right: 10px;

   }
   
   .product-card{
       display:flex ;
       box-sizing: border-box ;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: 10px;
       border-radius:5px ;
       margin-bottom: 10px;
      
    
      
     
       
   }
 
   
   