
.display-filed{
 display :flex ;
   margin :20px ;
}
.filter-section{
   
    margin-bottom:30px ;
    margin-right:10px ;
}
*{
    color:white ;
    background-color:#232323;
}
#dropdown-basic-button{
    margin-top:20px ;
}